rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function owns(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow create, read, update, delete: if owns(userId);

      match /{document=**} {
        allow read, write: if owns(userId);
      }
    }
  }
}
